select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    /* background-image: url(...);   add custom arrow */
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #C9CCCC;
    font-size: 12px;
    width: 34vw;
    margin-bottom: 15px;
 }

 .Pad-top {
     padding-top: 51px;
 }

.Form-container {
    width: 47%;
    padding-top: 51px;
    margin-left: 30vw;
}

input {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.Col-1,
.Col-2,
.Col-3,
.Col-4,
.Col-5,
.Col-6,
.Col-7,
.Col-8,
 {
    /* width: 100%; */
    padding-bottom: 30px !important; 
}

.Full-width {
    padding: 15px 0;
    padding-left: 15px;
    padding-right: 40px
}

.Full-width {
    padding: 15px 0;
    padding-left: 15px;
    padding-right: 20vw;
}

.Submit-btn {
    width: 20%;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    padding: 15px;
    background-color: #e69b26;
    margin-left: 22.5vw;
}

@media (min-width: 1356px) {
    select {
        width: 30vw;
    }

    .Submit-btn {
        width: 20%;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0;
        padding: 15px;
        background-color: #e69b26;
        margin-left: 21.8vw;
    }

    .Form-container {
        padding-top: 51px;
        margin-left: 20vw;
    }
}