.Main-nav {
    width: 1330px;
}

.Main-home {
    width: 100vw;
    position: absolute;
    z-index: -1; 
}

.Main-intro {
    margin-top: 50px;
    width: 100vw;
    overflow: hidden;
}

@media (min-width: 1356px) {
    .Main-home {
        max-width: 1356px;
    }
}

.Tagline,
.Slider-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.Tagline {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}

.Tag-paragraph {
    margin-top: 25px !important;
}

.Tag-paragraph,
.Slider-body,
.Read-more {
    font-family: 'Playfair Display', serif;
    color: #8D8F8F;
    font-size: 13px;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
}

.Intro {
    margin-top: -35vh;
    position: relative;
}

@media (min-width: 768px) {
    .Intro {
        width: 30%;
        position: absolute;
        bottom: 170px;
        left: 125px;
    }

    .Tagline {
        font-size: 40px;
        text-align: left;
    }

    .Tag-paragraph {
        font-size: 12px;
        text-align: left;
    }

    .Button-primary {
        display: none;
    }

    .Button-primary-2 {
        color: #000;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        width: 30%;
        text-decoration: none;
        background-color: #e69b26;
        padding: 15px 30px;
        position: absolute;
        bottom: -70px;
        left: 50px;
    }

    .Center-logo {
        margin-left: 100px;
    }

    @media (min-width: 768px) {
        .Center-logo {
            width: 1100px;
            margin: 0 auto;
        }

        .Tabs-panel {
            width: 1356px;
        }
    }

    .Main-intro {
        position: relative;
    }
}

.Header-pic-2 {
    display: none;
}

.Header-pic-3 {
    display: none;
}

@media (min-width: 360px) {
    .Intro {
        margin-top: -30vh;
        padding: 0 30px;
    }

    .Header-pic {
        display: none;
    }

    .Header-pic-2 {
        width: 100%;
        display: block;
    }
}

@media (min-width: 768px) {
    .Header-pic-2 {
        display: none;
    }

    .Header-pic-3 {
        width: 90%;
        display: block;
    }

    .Main-intro {
        max-width: 1356px;
        margin: 0 auto;
        height: 550px;
        background: url('../../assets/shave-mobile-3.jpg') no-repeat center;
        background-size: cover;
    }
}

.Container {
    width: 90%;
    margin: 0 auto;
}

.Button-primary {
    color: #000;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #e69b26;
    width: 30vw;
    left: 30%;
    position: absolute;
    padding: 15px 20px;
}

.Logo-scroll {
    margin-top: 150px;
    display: flex;
    overflow: scroll;
    padding: 0;
}

@media (min-width: 768px) {
    .Logo-scroll {
        max-width: 1356px;
        margin-top: 0;
        overflow: none;
        margin-left: -100px;
        padding-left: 100px;
    }

    .Gq-icon,
    .Complex-icon,
    .Fast-icon,
    .Time-icon,
    .WWD-icon {
        width: 50%;
        margin: 0 auto;
        padding-top: 30px;
    }
}

.Tabs-content {
    background-color: #f1f1f1;
    padding: 1px 25px;
    margin-top: -15px;
}

@media (min-width: 768px) {
    .Tabs-content {
        max-width: 1356px;
        margin: 0 auto;
    }

    .Tabs-panel {
        font-size: 55px !important;
    }
}

.Tabs-panel {
    font-size: 39px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    text-align: center;
}

.Logo-scroll {
    list-style-type: none;
    padding-bottom: 20px;
}

.Bk-img {
    height: 430px;
    margin-top: -15.5px;
    background: url('../../assets/bg-mobile-acae.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}


@media (min-width: 360px) {
    

    .Bk-img-2 {
        height: 500px;
        background: url('../../assets/bg-mobile-acae-2.jpg') no-repeat center;
        background-size: cover;
        position: relative;
    }
}

@media (min-width: 768px) {

    .Bk-img-3 {
        max=width: 1356px;
        margin: 0 auto;
        height: 550px;
        background: url('../../assets/derm-tested.jpg') no-repeat center;
        background-size: cover;
        position: relative;
    }

    .Bk-font,
    .Bk-text,
    .Bk-btn {
        display: none;
    }

    .Bk-text-large {
        width: 27%;
        text-align: left;
        position: relative;
        float: right;
        margin-top: 125px;
        margin-right: 200px;
    }

    .Bk-text-h1 {
        font-size: 34px;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }

    .Bk-text-p {
        font-size: 13px;
        font-family: 'Playfair Display', serif;
        color: #737277;
        letter-spacing: 1px;
        line-height: 2;
        margin-bottom: 50px;
    }

    .Bk-text-a {
        color: #000;
        font-size: 13px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;        
        text-decoration: none;
        border: 2px solid #000;
        padding: 15px 40px;
        letter-spacing: 1px;
    }
}

.Bk-font {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;   
    font-size: 26px;
    top: 50px;
}

.Bk-font,
.Bk-text {
    position: absolute;
    left: 20px;
    text-align: center;
}

.Bk-text {
    font-size: 13px;
    top: 133px;
    font-family: 'Playfair Display', serif;
    color: #8D8F8F;
    letter-spacing: 1px;
    line-height: 2;
}

.Bk-btn {
    color: #000;
    font-size: 13px;
    position: relative;
    left: 30%;
    top: 260px;
    border: 2px solid black;
    text-decoration: none;
    padding: 4.5% 6%;
    text-transform: uppercase;
}

.Link {
    color: #fff;
    text-decoration: none;
}

.Avail {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .Avail {
        font-size: 32px !important;
    }

    .Store-width {
        
    }
}

.Pad {
    padding: 25px 0;
}

@media (min-width: 768px) {
    .Pad {
        padding: 50px 0;
        margin-top: -15px;
    }
}

.Logo-flex {
    text-align: center;
    
}

.Store-width {
    width: 9%;
    padding: 0 35px;
}

.Center {
    text-align: center;
}

.Sans-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.Advice {
    font-size: 13px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin-top: 60px;
}

@media (min-width: 768px) {
    .Advice {
        font-size: 16px;
        width: 750px;
        margin: 0 auto;
        margin-top: 75px;
        margin-bottom: 25px;
    }
}

.Bc93 {
    width: 138px;
    height: 19.44px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.Font-size {
    font-size: 26px;
    text-align: center;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .Font-size {
        font-size: 32px;
    }
}

.Read-more {
    font-size: 11px;
    margin: 40px 0 60px;
    text-decoration: none;  
    letter-spacing: 1.5px; 
    padding-bottom: 40px;
}

.Read-more a {
    padding-bottom: 400px;     
}

@media (min-width: 768px) {
    .Read-more {
        padding-bottom: 500px;
    }
}

.Center-pic {
    text-align: center;
}