.Img-width {
    width: 100%;
}

.Adjust-width {
    width: 85%;
    margin-left: 7%;
}

.Zoom-image {
    overflow: hidden;
    text-align: center;
}

.Zoom-image:hover img {
    transform: scale(1.2);
}

img {
    max-width: 100%;
    max-height: 100%;
    transition: .75s;
}

@media (min-width: 768px) {
    .Adjust-width {
        width: 30%;
    }
    
    .Flex-wrap {
        float: left;
        margin-left: 30px;
    }

    .Flex-wrap-2 {
        float: left;
        margin-left: 30px;
    }

    .Flex-wrap-3 {
        float: left;
        margin-left: 30px;
    }

    .cf:after {
        content: "";
        display: table;
        clear: both;
    }

    .Shop-container {
        margin: 0 auto;
        padding-top: 51px;
    }
}

.Container {
    /* width: 90%; */
}

.Img-width-body {
    width: 90%;
    margin: 0 auto;
}

.Margin-top {
    padding-top: 100px;
}

.Open-sans-header,
.Open-sans-italic {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.Open-sans-header {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;    
}

.Open-sans-italic {
    color: #737277;
    font-style: italic;
    font-size: 13px;
}

.No-underline a {
    text-decoration: none;
}